language: java
jdk: openjdk11

services: docker

before_install:
- chmod +x gradlew
- chmod +x wait-for-mongo.sh
- docker network create mongo-cluster
- docker run --name mongo -p 27017:27017 -d --net mongo-cluster mongo:4.0.10 --replSet rs0
- ./wait-for-mongo.sh
- docker exec -it mongo mongo --eval "printjson(rs.initiate())"

after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
- ./gradlew clean build

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.m2/repository/